* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2525c0;
    font: normal 15pt normal;
}

header {
    color: white;
    text-align: center;
    padding:10px;
    font-variant: small-caps;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}

div {
    text-align: center;
    padding: 5px;
}

div#foto img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

div#msg {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

section {
    width: 500px;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin:auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.698);
}

footer {
    color: white;
    text-align: center;   
    padding: 20px;
    font-style: italic;
}